*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, arial, sans-serif;
    text-decoration: none;
    min-height: 140vh;
    background: white;    

}
.flex{
    display: flex;

}
.fa{
    margin: 0px 4px;

}
.fa-angle-down{
    font-weight: lighter;
    margin: 0;

}
.fa-user{
    border-radius:50% ;
}

/*style navigation bar*/
